* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-height: 100%;
    background: white;
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-radius: 3em;
    border-top: 3px solid #ff8c00;
    margin: 1em 0;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 5px;
}

/* login */

.inscription-connexion {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    font-family: Arial;
    color: #ffffff;
    font-size: 30px;
    background: #ff8c00;
    padding: 10px 20px 10px 20px;
    border: solid #fe5a1d 2px;
    text-decoration: none;
}
  
  .btn:hover {
    background: #fe5a1d;
    border: solid #ff8c00 2px;
    text-decoration: none;
}


/* presentation */

h1 {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 30px;
    letter-spacing: 0px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    font-style: italic;
    font-variant: small-caps;
    text-transform: none;
    text-align: center;
}

p {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 17px;
    letter-spacing: 0px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-align: justify;
}